:root{
	font-size: 1vh;
}

.App {
  text-align: center;
}
.AppBar > div >img{
	width:35px;
	cursor: pointer;
}
.AppBar {
	text-align: center;
	background-color: black !important;
	align-items: center;
	border-bottom: 1px solid white;
	box-shadow: none;
}
#root{
	height: 100vh;
}
.login_container{
	background-color: #ccc;
   min-width: 300px;
   max-width: 90vw;

   min-height: 100vh;
   max-height: 100vh;
   margin: 0 auto;
	/* padding-top: 35px; */
	text-align: center;
}

.login_textField{
	margin-top: 20vh;
}
.row{
	display: flex;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0 7px;
}
.msgInput{
	width: 100% !important;
}
.messages{
	min-height: calc( 100vh - 115px );
	max-height: calc( 100vh - 115px );
	overflow-y: scroll;
	background-size: contain;
	font-size: 20px;
	padding: 0 7px;
}

.msg{
	padding: 10px 14px;
	border-radius: 10px;

	display: inline-block;
	max-width: 210px;
	width: auto;
}
.other_speak{
	margin-bottom: 15px;
}
.other_speak > .author{
	color: #69DEDA;
}
.other_speak > .msg{
	background-color: #69DEDA;
	color: black;
}
.my_speak{
	position: absolute;
   right: 7px;
	margin-bottom: 15px;
}
.my_speak > .msg{
	background-color: #77EF71;
	color: black;
}
.author{
	
}
.time{
	margin-left: 10px;
	font-size: 12px;
}
*{
	font-size: inherit;
}
/* 顯示 loading */
.center_container{ 
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}