.App {
  text-align: center;
}

.login_container{
	background-color: #ccc;
   min-width: 300px;
   max-width: 90vw;

   min-height: 100vh;
   max-height: 100vh;
   margin: 0 auto;
	/* padding-top: 35px; */
	text-align: center;
}

.login_textField{
	margin-top: 20vh;
}